<a href="https://colab.research.google.com/github/devaprasadnm/Lab/blob/main/DEVAPRASAD_DM_ASSIGNMENT.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Assignment**

*Download any benchmark dataset like titanic dataset or any freely downloadable dataset in the net. Conduct few data preprocessing functions like missing value replacement, transformation etc. After data preprocessing, using any models do a classification. Use any tools python, R or excel for the same. Each one has to do individually and submission date is march 30th.*

**Predicting Heart Disease using Machine Learning**

Preparing the tools

In [1]:
# Regular EDA and plotting libraries
import numpy as np # np is short for numpy
import pandas as pd # pandas is so commonly used, it's shortened to pd
import matplotlib.pyplot as plt


## Models
from sklearn.ensemble import RandomForestClassifier

**Load Data**

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
heart = pd.read_csv("/content/drive/MyDrive/DM_ASSIGNMENT/heart.csv") # 'DataFrame' shortened to 'df'
heart.head() # (rows, columns)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1.0,0.0,125.0,212.0,0,1.0,168.0,0,1.0,2,2,3,0
1,53,1.0,0.0,140.0,203.0,1,0.0,155.0,1,3.1,0,0,3,0
2,70,1.0,0.0,145.0,174.0,0,1.0,125.0,1,2.6,0,0,3,0
3,61,1.0,0.0,148.0,203.0,0,1.0,161.0,0,0.0,2,1,3,0
4,62,0.0,0.0,138.0,294.0,1,1.0,106.0,0,1.9,1,3,2,0

## Missing Values

In [4]:
heart.isna().sum()

age         0
sex         1
cp          1
trestbps    1
chol        1
fbs         0
restecg     1
thalach     1
exang       0
oldpeak     1
slope       0
ca          0
thal        0
target      0
dtype: int64

Creating X and y

In [6]:
#Creating X and y
X=heart.drop("target",axis=1)
y=heart["target"]

# Data Preprocessing

Fill missing data with Scikit Learn

In [8]:
# Fill missing values with Scikit Learn
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer

#Fill categorical values with 'missing' & numerical values with mean
num_imputer=SimpleImputer(strategy="mean")

#Define columns

num_features = ["age","sex","cp","trestbps","chol","fbs","restecg","thalach","exang","oldpeak","slope","ca","thal"]


# Create an imputer (Something that fills missing data)

imputer = ColumnTransformer([
    ("num_imputer",num_imputer,num_features)
])

# Transformed the Data
filled_X = imputer.fit_transform(X)
filled_X

array([[52.,  1.,  0., ...,  2.,  2.,  3.],
       [53.,  1.,  0., ...,  0.,  0.,  3.],
       [70.,  1.,  0., ...,  0.,  0.,  3.],
       ...,
       [47.,  1.,  0., ...,  1.,  1.,  2.],
       [50.,  0.,  0., ...,  2.,  0.,  2.],
       [54.,  1.,  0., ...,  1.,  1.,  3.]])

In [10]:
heart = pd.DataFrame(filled_X,columns=["age","sex","cp","trestbps","chol","fbs","restecg","thalach","exang","oldpeak","slope","ca","thal"])
heart.head(10)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,52.0,1.0,0.0,125.0,212.0,0.0,1.0,168.0,0.0,1.0,2.0,2.0,3.0
1,53.0,1.0,0.0,140.0,203.0,1.0,0.0,155.0,1.0,3.1,0.0,0.0,3.0
2,70.0,1.0,0.0,145.0,174.0,0.0,1.0,125.0,1.0,2.6,0.0,0.0,3.0
3,61.0,1.0,0.0,148.0,203.0,0.0,1.0,161.0,0.0,0.0,2.0,1.0,3.0
4,62.0,0.0,0.0,138.0,294.0,1.0,1.0,106.0,0.0,1.9,1.0,3.0,2.0
5,58.0,0.0,0.0,100.0,248.0,0.0,0.0,122.0,0.0,1.0,1.0,0.0,2.0
6,58.0,1.0,0.0,114.0,318.0,0.0,2.0,140.0,0.0,4.4,0.0,3.0,1.0
7,55.0,1.0,0.0,160.0,289.0,0.0,0.0,145.0,1.0,0.8,1.0,1.0,3.0
8,46.0,1.0,0.0,120.0,249.0,0.0,0.0,144.0,0.0,0.8,2.0,0.0,3.0
9,54.0,1.0,0.0,122.0,286.0,0.0,0.0,116.0,1.0,3.2,1.0,2.0,2.0

In [13]:
X=heart
# checkout our dataframe again
heart.isna().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
dtype: int64

## Create Model

In [14]:
np.random.seed(42)
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2)

model = RandomForestRegressor()
model.fit(X_train,y_train)
model.score(X_test,y_test)

0.940902008376166

In [15]:
y_preds = model.predict(X_test)

## Classification

In [16]:
output = pd.DataFrame({"Age":X_test.age,'Deseae_Detected':y_preds})
output

      Age  Deseae_Detected
527  62.0             0.98
359  53.0             0.72
447  55.0             0.00
31   50.0             1.00
621  48.0             0.00
..    ...              ...
832  68.0             0.88
796  41.0             0.98
644  44.0             1.00
404  61.0             0.00
842  58.0             0.02

[205 rows x 2 columns]

# Submitted by Devaprasad
CsA Roll No:32